{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "not <.5%", "not ie 11", "not op_mini all"]
        },
        "useBuiltIns": "usage"
      }
    ],
    "react"
  ]
}
